<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>FilmŁeb</h1>
    <h2>Current movies</h2>
    <hr>
    <table>
        <tr th:each="movie: ${movies}">
            <td th:text="${movie.title}" />
            <td><a href="movie.html" th:href="@{/movies/{id}(id=${movie.id})}">view</a></td>
        </tr>
    </table>
    <hr>
    <h2>Add a new movie</h2>
    <form action="/movies" method="post">
        <p>Title: <input name="title" id="title" value=""/></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>